
<div class="col-md-2">
  <div class="card ">
    <div class="card-body">
      <h4 class="card-title"> {{start}} </h4>
        <p class="card-text" > Start Time:   End Time: {{end}} {{status}}</p>

      <a data-session="{{reservation_number}}" href="/api/  cancel"  class="black-text d-flex justify-content-end">
      <h5> Cancel Reservation <i class="fas fa-angle-double-right"></i></h5>
     </a>
    </div>
  </div>
</div>
