
{{!-- partial for memebers page to display reserved time slots --}}

{{!--partial for reservations--}}

<ul>
    <li class="cd-schedule__event">
        <a data-start="{{eventStart}}" data-end="{{eventEnd}}"  data-content="{{eventType}}" data-event="event-3" href="#0">
            <em class="cd-schedule__name">{{event}}</em>
        </a>
    </li>
</ul>




{{!--
    stuff to use later? 

    {{#> myPartial }}
  Failover content
{{/myPartial}}

<ul>
             <li class="cd-schedule__event">
    <a data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3" href="#0">
      <em class="cd-schedule__name">Yoga Level 1</em>
    </a>
  </li>
          </ul>



