
<ul>
    <li class="cd-schedule__event">
        <a data-start="{{start}}" data-end="{{end}}"  data-content="" data-event="event-3" href="#0">
            <em class="cd-schedule__name">{{customer}},  {{status}}</em>
        </a>
    </li>
</ul>



