<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/mdb.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/calendar.css" >
 		<link rel="stylesheet" href="/css/style.css" >
		<title>On Ice</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
	<body  class="dark-skin">
		{{{ body }}}
	</body>

<footer class="page-footer font-small fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-12 mb-4">
        <div class="view overlay z-depth-1-half">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <div class="view overlay z-depth-1-half">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <div class="view overlay z-depth-1-half">
          <img src="/assets/images/troy-t-X1jvqicixT0-unsplash.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 mb-4">
        <div class="view overlay z-depth-1-half">
          <img src="/assets/images/matthew-fournier-G971e4EFKtA-unsplash (1).jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <div class="view overlay z-depth-1-half">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <div class="view overlay z-depth-1-half">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
</div>
</footer>

</html>
