<script>
    document.getElementsByTagName("html")[0].className += " js";
</script>
<link rel="stylesheet" href="css/calendar.css">
 <nav class="navbar navbar-expand-lg navbar-dark primary-color justify-content-between">
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/members">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/make-reservation">Reserve a lesson</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <div class="row">
         <div class="col-md-3 col-md-offset-3"></div>
         <h1 class="text-xl">ON ICE</h1>
    </div>
    </div>

  <div class="container">
    <div class="row">
         <div class="col-md-3"></div>
        {{!-- PUT DROPDOWN HERE --}}
        <div id="dropdownholder"></div>
        </div>
    </div> 
 <div class="col-md-8 col-md-offset-3">
<div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
    <div class="cd-schedule__timeline">
        <ul>
            <li><span>09:00</span></li>
            <li><span>09:30</span></li>
            <li><span>10:00</span></li>
            <li><span>10:30</span></li>
            <li><span>11:00</span></li>
            <li><span>11:30</span></li>
            <li><span>12:00</span></li>
            <li><span>12:30</span></li>
            <li><span>13:00</span></li>
            <li><span>13:30</span></li>
            <li><span>14:00</span></li>
            <li><span>14:30</span></li>
            <li><span>15:00</span></li>
            <li><span>15:30</span></li>
            <li><span>16:00</span></li>
            <li><span>16:30</span></li>
            <li><span>17:00</span></li>
            <li><span>17:30</span></li>
            <li><span>18:00</span></li>
        </ul>
    </div>
    <!-- .cd-schedule__timeline -->

    <div class="cd-schedule__events">
        <ul>
          <li class="cd-schedule__group">
            <div class="cd-schedule__top-info"><span>Sunday</span></div>

            <ul>
                {{#each sunday}} 
                {{> available}} 
                {{/each}}
            </ul>
        </li>
            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span>Monday</span></div>

                <ul>
                    {{#each monday}} 
                    {{> available}} 
                    {{/each}}
                </ul>
            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span>Tuesday</span></div>

                <ul>
                    {{#each tuesday}} 
                    {{> available}} 
                    {{/each}}
                </ul>
            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span>Wednesday</span></div>

                <ul>
                    {{#each wednesday}} 
                    {{> available}} 
                    {{/each}}
                </ul>
            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span>Thursday</span></div>

                <ul>
                    {{#each thursday}} 
                    {{> available}} 
                    {{/each}}
                </ul>
            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span>Friday</span></div>

                <ul>
                    {{#each friday}} 
                    {{> available}} 
                    {{/each}}
                </ul>
            </li>
            <li class="cd-schedule__group">
              <div class="cd-schedule__top-info"><span>Saturday</span></div>

              <ul>
                  {{#each saturday}} 
                  {{> available}} 
                  {{/each}}
              </ul>
          </li>
        </ul>
    </div>

    <div class="cd-schedule-modal">
        <header class="cd-schedule-modal__header">
            <div class="cd-schedule-modal__content">
                <span class="cd-schedule-modal__date"></span>
                <h3 class="cd-schedule-modal__name"></h3>
            </div>

            <div class="cd-schedule-modal__header-bg"></div>
        </header>

        <div class="cd-schedule-modal__body">
            <div class="cd-schedule-modal__event-info"></div>
            <div class="cd-schedule-modal__body-bg"></div>
        </div>

        <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>

    <div class="cd-schedule__cover-layer"></div>
</div>
<!-- .cd-schedule -->
    </div>
 </div>
<script src="js/util.js"></script>
<!-- util functions included in the CodyHouse framework -->
<script src="/js/calendar.js"></script>