form.signup,
form.login {
  margin-top: 50px;
}

.navbar-header {
  font-size: larger;
  font-family: monospace;
  height: 100%;
}

.card {
  display: inline-block;
}

.cd-schedule__event {
  background-color: darkblue;
}
